@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

nav {
  @include a.boxshadow;
  @include l.padding(md);
  position: sticky;
  top: 0;

  background-color: var(--main);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
}

.burger {
  display: none;
  cursor: pointer;

  div {
    background-color: var(--200);

    width: 40px;
    height: 4px;
    @include l.radius(md);

    & + div {
      margin-top: 4px;
    }
  }
}

/* Tablet --> Mobile View */
nav ul {
  @include l.max(md) {
    display: none;
    // ... mobile menu styling here
  }
}

.burger {
  @include l.max(md) {
    display: block;
  }
}
