<aside>
  <div class="top">
    <ul>
      <li>
        <a href="/" class="aside-link">
          <i class="fa-solid fa-house"></i>
          <span>home</span>
        </a>
      </li>
      <li>
        <a href="/dashboard" class="aside-link">
          <i class="fa-solid fa-gauge"></i>
          <span>dashboard</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="middle">
    <ul>
      <li>
        <a href="/dashboard/events" class="aside-link">
          <i class="fa-solid fa-calendar-days"></i>
          <span>events</span>
        </a>
      </li>
      <li>
        <a href="/dashboard/about" class="aside-link">
          <i class="fa-solid fa-book"></i>
          <span>about</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="bottom">
    <ul>
      <li>
        <a href="/logout" class="aside-link">
          <i class="fa-solid fa-right-from-bracket"></i>
          <span>log out</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
