@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

[data-animation] {
  transition-duration: 0.5s;
}

/* Transition Options */

// Delay
[data-delay="sm"] {
  transition-delay: 0.25s;
}
[data-delay="md"] {
  transition-delay: 0.5s;
}
[data-delay="lg"] {
  transition-delay: 0.75s;
}

// Duration
[data-duration="fast"] {
  transition-duration: 0.25s;
}
[data-duration="slow"] {
  transition-duration: 0.75s;
}

// Cubic Bezier
[data-bezier="ease"] {
  transition-timing-function: cubic-bezier(
    0.18,
    0.89,
    0.32,
    1.1
  ); // ease-out backwards
}

/* Blur */
[data-animation="blur"] {
  filter: blur(5px);
  &.animate--start {
    filter: blur(0);
  }
}

/* Fade */
[data-animation="fade"] {
  opacity: 0;
  &.animate--start {
    opacity: 1;
  }
}

/* Slide */
[data-animation="slide"] {
  &[data-direction="left"] {
    transform: translateX(-100%);
  }
  &[data-direction="right"] {
    transform: translateX(100%);
  }
  &.animate--start {
    transform: translateX(0);
  }
}

/* Keyframes ================================================ */

[data-hover="shake"]:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

[data-hover="rotate"]:hover {
  animation: rotate 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

[data-hover="pulse"]:hover {
  animation: pulse 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
