@use "../abstracts/" as a;
@use "../layout" as l;
@use "../theme/" as t;

/* Headers */

.header {
}

.primary-header {
}

.secondary-header {
}

.dashboard-table-header {
  @include t.util;
  font-size: 20px;
  color: var(--dashboard);
  text-transform: capitalize;
}

/* Subheaders */

.primary-subheader {
}

.secondary-subheader {
}

.dashboard-table-subheader {
  @include t.util;
  font-size: 16px;
  color: var(--100);
  font-weight: 300;
  text-transform: uppercase;
}

/* Paragraphs */

.primary-text {
}

.secondary-text {
}

/* Links */

.link {
}

.primary-link {
}

.nav-link {
  color: var(--200);
  @include a.transition;
  &:hover,
  &.active {
    color: white;
  }
}

.drop-down-link {
  color: white;

  @include l.radius(xs);
  @include l.padding(xs, sm);

  display: block; // fill width of <li> and apply padding

  &:hover {
    background-color: rgb(255, 255, 255, 0.1);
  }
}

.aside-link {
  color: var(--200);
  display: block;
  @include l.padding(sm);
  span {
    margin-left: 5px;
  }

  &:hover {
    background-color: var(--dashboard-hover);
    color: white;
  }

  &.active {
    border-left: solid 5px var(--dashboard-hover);
  }

  @include a.transition;
}

.icon-link {
  @include a.transition;
  @include l.radius(50%);
  height: 25px;
  width: 25px;

  i {
    font-size: 13px;
    color: var(--140);
    @include a.transition;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    i {
      color: var(--20);
    }
  }
}

/* Blockquotes */

blockquote {
  font-style: italic;
}

.primary-quote {
}

/* Spans */

span.wrap {
  display: inline-block;
}
