/* Transition */
/* Box Shadow */
/* Gradient */
/* Text Shadow */
:root {
  /* UTILITY */
  --success: #3b916d;
  --success-hover: #2a654c;
  --danger: #b00020;
  --danger-hover: #b00020;
  /* COMPONENTS */
  --dashboard-form: rgb(48, 66, 85);
  --dashboard: #2a654c;
  --dashboard-hover: #3b916d;
  --btn-primary: var(--main);
  /* MONOCHROME */
  --247: rgb(247, 247, 247);
  --235: rgb(235, 235, 235);
  --220: rgb(220, 220, 220);
  --200: rgb(200, 200, 200);
  --180: rgb(180, 180, 180);
  --160: rgb(160, 160, 160);
  --140: rgb(140, 140, 140);
  --120: rgb(120, 120, 120);
  --100: rgb(100, 100, 100);
  --80: rgb(80, 80, 80);
  --60: rgb(60, 60, 60);
  --40: rgb(40, 40, 40);
  --20: rgb(20, 20, 20);
  --8: rgb(8, 8, 8);
  /* MAIN */
  --main: rgb(45, 71, 125);
  --main-hover: rgb(85, 120, 195);
  /* SECOND */
  --second: rgb(16, 100, 32);
}

[data-animation] {
  transition-duration: 0.5s;
  transition-delay: 0.25s;
}

/* Transition Options */
[data-delay=sm] {
  transition-delay: 0.5s;
}

[data-delay=md] {
  transition-delay: 0.75s;
}

[data-delay=lg] {
  transition-delay: 1s;
}

[data-duration=fast] {
  transition-duration: 0.25s;
}

[data-duration=slow] {
  transition-duration: 0.75s;
}

[data-bezier=ease] {
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.1);
}

/* Blur */
[data-animation=blur] {
  filter: blur(5px);
}
[data-animation=blur].animate--start {
  filter: blur(0);
}

/* Fade */
[data-animation=fade] {
  opacity: 0;
}
[data-animation=fade].animate--start {
  opacity: 1;
}

/* Slide */
[data-animation=slide][data-direction=left] {
  transform: translateX(-100%);
}
[data-animation=slide][data-direction=right] {
  transform: translateX(100%);
}
[data-animation=slide].animate--start {
  transform: translateX(0);
}

/* Keyframes ================================================ */
[data-hover=shake]:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
[data-hover=rotate]:hover {
  animation: rotate 0.5s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
[data-hover=pulse]:hover {
  animation: pulse 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
[data-hover=underline] {
  position: relative;
}
[data-hover=underline]::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
[data-hover=underline]:hover::after, [data-hover=underline].active::after {
  width: 100%;
}

.btn {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  display: inline-block;
}

.btn-primary {
  background-color: var(--main);
  color: white;
  transition: all 0.2s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--main-hover);
}

.btn-secondary {
  background-color: var(--secondary);
  transition: all 0.2s ease-in-out;
}
.btn-secondary:hover {
  background-color: var(--secondary-hover);
}

.btn-success {
  background-color: var(--success);
  color: white;
}
.btn-success:hover {
  background-color: var(--success-hover);
}

.btn-danger {
  background-color: var(--danger);
}
.btn-danger:hover {
  background-color: var(--danger-hover);
}

.no-btn {
  background-color: transparent;
  box-shadow: none;
  color: var(--40);
}
.no-btn:hover {
  background-color: rgba(150, 150, 150, 0.1);
}

.btn-dashboard {
  background-color: var(--dashboard);
  color: white;
}
.btn-dashboard:hover {
  background-color: var(--dashboard-hover);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Direction */
  /* Wrap */
  /* Justify Content */
  /* Align Items */
}
.flex.row {
  flex-direction: row;
}
.flex.row-reverse {
  flex-direction: row-reverse;
}
.flex.column {
  flex-direction: column;
}
.flex.column-reverse {
  flex-direction: column-reverse;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex.nowrap {
  flex-wrap: nowrap;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-around {
  justify-content: space-around;
}
.flex.justify-evenly {
  justify-content: space-evenly;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-end {
  align-items: flex-end;
}
.flex.align-stretch {
  align-items: stretch;
}
.flex.align-baseline {
  align-items: baseline;
}

/* Gap Sizes */
/* Gap */
.flex.gap-xxs {
  gap: 6px;
}

.flex.gap-xs {
  gap: 12px;
}

.flex.gap-sm {
  gap: 18px;
}

.flex.gap-md {
  gap: 30px;
}

.flex.gap-lg {
  gap: 42px;
}

.flex.gap-xl {
  gap: 60px;
}

.flex.gap-xxl {
  gap: 72px;
}

.form {
  border-radius: 5px;
}
.form label,
.form input,
.form select,
.form textarea {
  font-family: "Roboto", sans-serif;
}
.form label.error, .form label.error:active,
.form input.error,
.form input.error:active,
.form select.error,
.form select.error:active,
.form textarea.error,
.form textarea.error:active {
  outline: solid 1px var(--danger) !important;
}
.form label,
.form select,
.form select option {
  text-transform: capitalize;
}
.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
}
.form input,
.form textarea,
.form select {
  width: 100%;
  resize: none;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}
.form input:focus,
.form textarea:focus,
.form select:focus {
  outline: solid 1px var(--200);
}
.form input[type=date],
.form input[type=time] {
  width: max-content;
}
.form .item + .item {
  margin-top: 30px;
}

.primary-form {
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: var(--235);
}

.dashboard-form--wrapper {
  background-color: var(--235);
  height: 100vh;
}

.dashboard-form {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.dashboard-form::-webkit-scrollbar {
  width: 0px;
  display: none;
}
.dashboard-form input,
.dashboard-form textarea {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.dashboard-form input:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
.dashboard-form input[type=file] {
  display: none;
}
.dashboard-form label.file-upload {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
  padding: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.dashboard-form label.file-upload:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
.dashboard-form input[type=hidden] + .item {
  margin-top: 30px;
}
.dashboard-form .header {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(247, 247, 247);
  position: sticky;
  top: 0;
  z-index: 5;
  border-radius: 5px 5px 0 0;
}
.dashboard-form .content {
  background-color: white;
}
.dashboard-form .preview {
  max-width: 400px;
  margin: 30px 0;
  border-radius: 15px;
  display: none;
}
.dashboard-form .preview.active {
  display: block;
}
.dashboard-form .preview img {
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.nav-menu {
  display: flex;
  justify-content: space-around;
}
.nav-menu > li + li {
  margin-left: 30px;
}

.drop-down-menu {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 100%;
  left: -15px;
  min-width: calc(100% + 30px);
}

.drop-down-menu--parent {
  position: relative;
}
.drop-down-menu--parent span {
  cursor: pointer;
  color: var(--200);
}
.drop-down-menu--parent span:hover {
  color: white;
}
.drop-down-menu--parent > li + li {
  margin-top: 15px;
}
.drop-down-menu--parent ul {
  display: none;
}
.drop-down-menu--parent:hover ul {
  display: flex;
}

/* Components */
.sp-aside-left {
  margin-left: 200px;
}
@media (max-width: 768px) {
  .sp-aside-left {
    margin-left: 0;
  }
}

/* Utilities */
.mg-xs {
  margin: 5px;
}

.pd-xs {
  padding: 5px;
}

.mg--xs {
  margin: 5px;
}

.pd--xs {
  padding: 5px;
}

.mg-t-xs {
  margin-top: 5px;
}

.pd-t-xs {
  padding-top: 5px;
}

.mg-r-xs {
  margin-right: 5px;
}

.pd-r-xs {
  padding-right: 5px;
}

.mg-b-xs {
  margin-bottom: 5px;
}

.pd-b-xs {
  padding-bottom: 5px;
}

.mg-l-xs {
  margin-left: 5px;
}

.pd-l-xs {
  padding-left: 5px;
}

.mg-sm {
  margin: 15px;
}

.pd-sm {
  padding: 15px;
}

.mg--sm {
  margin: 15px;
}

.pd--sm {
  padding: 15px;
}

.mg-t-sm {
  margin-top: 15px;
}

.pd-t-sm {
  padding-top: 15px;
}

.mg-r-sm {
  margin-right: 15px;
}

.pd-r-sm {
  padding-right: 15px;
}

.mg-b-sm {
  margin-bottom: 15px;
}

.pd-b-sm {
  padding-bottom: 15px;
}

.mg-l-sm {
  margin-left: 15px;
}

.pd-l-sm {
  padding-left: 15px;
}

.mg-md {
  margin: 30px;
}

.pd-md {
  padding: 30px;
}

.mg--md {
  margin: 30px;
}

.pd--md {
  padding: 30px;
}

.mg-t-md {
  margin-top: 30px;
}

.pd-t-md {
  padding-top: 30px;
}

.mg-r-md {
  margin-right: 30px;
}

.pd-r-md {
  padding-right: 30px;
}

.mg-b-md {
  margin-bottom: 30px;
}

.pd-b-md {
  padding-bottom: 30px;
}

.mg-l-md {
  margin-left: 30px;
}

.pd-l-md {
  padding-left: 30px;
}

.mg-lg {
  margin: 60px;
}

.pd-lg {
  padding: 60px;
}

.mg--lg {
  margin: 60px;
}

.pd--lg {
  padding: 60px;
}

.mg-t-lg {
  margin-top: 60px;
}

.pd-t-lg {
  padding-top: 60px;
}

.mg-r-lg {
  margin-right: 60px;
}

.pd-r-lg {
  padding-right: 60px;
}

.mg-b-lg {
  margin-bottom: 60px;
}

.pd-b-lg {
  padding-bottom: 60px;
}

.mg-l-lg {
  margin-left: 60px;
}

.pd-l-lg {
  padding-left: 60px;
}

.mg-xl {
  margin: 90px;
}

.pd-xl {
  padding: 90px;
}

.mg--xl {
  margin: 90px;
}

.pd--xl {
  padding: 90px;
}

.mg-t-xl {
  margin-top: 90px;
}

.pd-t-xl {
  padding-top: 90px;
}

.mg-r-xl {
  margin-right: 90px;
}

.pd-r-xl {
  padding-right: 90px;
}

.mg-b-xl {
  margin-bottom: 90px;
}

.pd-b-xl {
  padding-bottom: 90px;
}

.mg-l-xl {
  margin-left: 90px;
}

.pd-l-xl {
  padding-left: 90px;
}

.mw-xs {
  max-width: 575.98px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
}

/* Dashboard Table */
.dashboard-table--container {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.dashboard-table {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.dashboard-table thead {
  background-color: rgba(150, 150, 150, 0.1);
  color: var(--100);
  text-transform: capitalize;
}
.dashboard-table th {
  font-weight: 500;
}
.dashboard-table th {
  text-align: left;
}
.dashboard-table th,
.dashboard-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.dashboard-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  max-height: 20px;
}
.dashboard-table td h1,
.dashboard-table td h2,
.dashboard-table td h3,
.dashboard-table td h4,
.dashboard-table td h5,
.dashboard-table td h6,
.dashboard-table td p,
.dashboard-table td span,
.dashboard-table td em,
.dashboard-table td strong,
.dashboard-table td del,
.dashboard-table td ins,
.dashboard-table td sub,
.dashboard-table td sup,
.dashboard-table td ul,
.dashboard-table td ol,
.dashboard-table td li,
.dashboard-table td table,
.dashboard-table td thead,
.dashboard-table td tbody,
.dashboard-table td tfoot,
.dashboard-table td tr,
.dashboard-table td td,
.dashboard-table td th,
.dashboard-table td a,
.dashboard-table td img,
.dashboard-table td blockquote,
.dashboard-table td code,
.dashboard-table td pre,
.dashboard-table td hr,
.dashboard-table td br,
.dashboard-table td div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px !important;
  max-height: 22px;
}
.dashboard-table th:first-child,
.dashboard-table td:first-child,
.dashboard-table th:last-child,
.dashboard-table td:last-child {
  width: 20px;
}
.dashboard-table th:not(:first-child):not(:last-child),
.dashboard-table td:not(:last-child) {
  border-right: solid 2px rgba(100, 100, 100, 0.1); /* Add left border to all td elements except the first one */
}
.dashboard-table th {
  border-bottom: solid 2px rgba(100, 100, 100, 0.5);
}
.dashboard-table tr:not(:last-child) {
  border-bottom: solid 2px rgba(100, 100, 100, 0.1);
}

.dashboard-table--container .table-header {
  padding-bottom: 20px;
}
.dashboard-table--container .table-header hr {
  margin-top: 5px;
}
.dashboard-table--container .table-header .btn {
  margin-top: 20px;
}

.toast-notification {
  position: fixed;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  z-index: 9999;
  width: max-content;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  color: var(--247);
  font-size: 14px;
  opacity: 0;
}
.toast-notification.active {
  opacity: 1;
}
.toast-notification.success {
  background-color: var(--success);
}
.toast-notification.danger {
  background-color: var(--danger);
}

/* Headers */
.dashboard-header {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--dashboard);
  text-transform: capitalize;
}

/* Subheaders */
.dashboard-subheader {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--100);
  font-weight: 300;
  text-transform: uppercase;
}

/* Paragraphs */
/* Links */
.nav-link {
  color: var(--200);
  transition: all 0.2s ease-in-out;
}
.nav-link:hover, .nav-link.active {
  color: white;
}

.drop-down-link {
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
.drop-down-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.aside-link {
  color: var(--200);
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.2s ease-in-out;
}
.aside-link span {
  margin-left: 5px;
}
.aside-link:hover {
  background-color: var(--dashboard-hover);
  color: white;
}
.aside-link.active {
  border-left: solid 5px var(--dashboard-hover);
}

.icon-link {
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.icon-link i {
  font-size: 13px;
  color: var(--140);
  transition: all 0.2s ease-in-out;
}
.icon-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.icon-link:hover i {
  color: var(--20);
}

/* Blockquotes */
blockquote {
  font-style: italic;
}

/* Spans */
span.wrap {
  display: inline-block;
}

/* General */
.txt {
  /* Text alignment */
}
.txt.center {
  text-align: center;
}
.txt.sans {
  font-family: "Lato", sans-serif;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--dashboard);
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  aside {
    position: static;
    width: 100%;
    height: max-content;
  }
}
aside .middle {
  overflow: auto;
}
aside .bottom {
  margin-top: auto;
}

footer {
  background-color: var(--main);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}
footer .copyright {
  color: var(--200);
  font-size: 12px;
  text-align: center;
}

nav {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: sticky;
  top: 0;
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.logo {
  width: 50px;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  background-color: var(--200);
  width: 40px;
  height: 4px;
  border-radius: 15px;
}
.burger div + div {
  margin-top: 4px;
}

/* Tablet --> Mobile View */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
}

#login main {
  width: clamp(100px, 100%, 400px);
}
