:root {
  /* UTILITY */
  --success: #198754;
  --success-hover: #198754;
  --danger: #b00020;
  --danger-hover: #b00020;
  /* COMPONENTS */
  --dashboard-form: rgb(48, 66, 85);
  --btn-primary: var(--main);
  /* MONOCHROME */
  --247: rgb(247, 247, 247);
  --235: rgb(235, 235, 235);
  --220: rgb(220, 220, 220);
  --200: rgb(200, 200, 200);
  --180: rgb(180, 180, 180);
  --160: rgb(160, 160, 160);
  --140: rgb(140, 140, 140);
  --120: rgb(120, 120, 120);
  --100: rgb(100, 100, 100);
  --80: rgb(80, 80, 80);
  --60: rgb(60, 60, 60);
  --40: rgb(40, 40, 40);
  --20: rgb(20, 20, 20);
  --8: rgb(8, 8, 8);
  /* MAIN */
  --main: rgb(45, 71, 125);
  --main-hover: rgb(85, 120, 195);
  /* SECOND */
  --second: rgb(16, 100, 32);
}

.btn {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  background-color: var(--main);
  color: white;
}
.btn-primary:hover {
  background-color: var(--main-hover);
}

.btn-secondary {
  background-color: var(--secondary);
}
.btn-secondary:hover {
  background-color: var(--secondary-hover);
}

.success-btn {
  background-color: var(--success);
}
.success-btn:hover {
  background-color: var(--success-hover);
}

.danger-btn {
  background-color: var(--danger);
}
.danger-btn:hover {
  background-color: var(--danger-hover);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Justify Content */
  /* Align Items */
  /* Gap */
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.justify-around {
  justify-content: space-around;
}
.flex.justify-evenly {
  justify-content: space-evenly;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.align-end {
  align-items: flex-end;
}
.flex.align-basline {
  align-items: basline;
}
.flex.align-stretch {
  align-items: stretch;
}
.flex.gap {
  gap: 30px;
}

.form label,
.form input,
.form textarea {
  font-family: "Roboto", sans-serif;
}
.form label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  text-transform: capitalize;
  color: var(--main);
}
.form input,
.form textarea {
  width: 100%;
  resize: none;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}
.form input:focus,
.form textarea:focus {
  outline: solid 1px var(--200);
}
.form .item + .item {
  margin-top: 30px;
}

.primary-form {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: var(--235);
}

.dashboard-form input,
.dashboard-form textarea {
  background-color: var(--dashboard-form);
  color: var(--247);
}
.dashboard-form input[type=hidden] + .item {
  margin-top: 30px;
}

.sp-top {
  margin-top: 30px;
}

.sp-aside-left {
  margin-left: 200px;
}

.toast-notification {
  position: fixed;
  top: 10px;
  right: 50%;
  transform: translateX(50%);
  z-index: 9999;
  width: max-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Lato", sans-serif;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--247);
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.toast-notification.active {
  opacity: 1;
}
.toast-notification.success {
  background-color: var(--success);
}
.toast-notification.danger {
  background-color: var(--danger);
}

/* Headers */
/* Subheaders */
/* Paragraphs */
/* Links */
.nav-link {
  text-transform: capitalize;
  color: var(--200);
}
.nav-link:hover, .nav-link.active {
  color: white;
  transition: all 0.3s ease-in-out;
}

.aside-link {
  text-transform: capitalize;
  color: var(--200);
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s ease-in-out;
}
.aside-link span {
  margin-left: 5px;
}
.aside-link:hover {
  background-color: var(--main-hover);
  color: white;
}
.aside-link.active {
  border-left: solid 5px var(--main-hover);
}

/* Blockquotes */
blockquote {
  font-style: italic;
}

/* Spans */
span.wrap {
  display: inline-block;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}
aside .bottom {
  margin-top: auto;
}

footer {
  background-color: var(--main);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}
footer .copyright {
  color: var(--200);
  font-size: 12px;
  text-align: center;
}

nav {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  position: sticky;
  top: 0;
  background-color: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav li + li {
  margin-left: 30px;
}

.logo {
  width: 50px;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  background-color: var(--200);
  width: 16px;
  height: 3px;
}
.burger div + div {
  margin-top: 2px;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login main h1,
#login main p,
#login main a {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Lato", sans-serif;
}
#login main form {
  width: 400px;
}
