@mixin transition($property: all, $duration: 0.3s, $timing-function: ease-in-out) {
  transition: $property $duration $timing-function;
}

$bs: (
  sm: 0px 2px 2px 0px rgb(0, 0, 0, 0.25),
  md: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
  lg: 0px 8px 8px 0px rgba(0, 0, 0, 0.25),
);

@mixin boxshadow($key: sm) {
  @if map-has-key($bs, $key) {
    box-shadow: map-get($bs, $key);
  } @else {
    box-shadow: $key;
  }
}
