<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Log in</title>
  <%- include('../../partials/head') %>
</head>

<body id="login" class="flex column pd-sm">
  <main class="flex column align-stretch gap-sm txt sans">
    <h1 class="txt center">Sign in</h1>
    <p class="txt center">to continue to the dashboard</p>
    <form action="/login" method="post" class="form primary-form pd-md">
      <div class="item">
        <div class="subitem">
          <label for="username">Username</label>
          <input type="text" name="username" required />
        </div>
      </div>
      <div class="item">
        <div class="subitem">
          <label for="password">Password</label>
          <input type="password" name="password" required />
        </div>
      </div>
      <div class="item">
        <div class="subitem">
          <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </div>
    </form>
    <p class="txt center"><a href="/">Return to the main website</a></p>
  </main>
</body>

</html>