:root {
  /* UTILITY */
  --success: #198754;
  --success-hover: #198754;
  --danger: #b00020;
  --danger-hover: #b00020;

  /* COMPONENTS */

  // Buttons
  --btn-primary: var(--main);

  /* MONOCHROME */
  --247: rgb(247, 247, 247);
  --235: rgb(235, 235, 235);
  --220: rgb(220, 220, 220);
  --200: rgb(200, 200, 200);
  --180: rgb(180, 180, 180);
  --160: rgb(160, 160, 160);
  --140: rgb(140, 140, 140);
  --120: rgb(120, 120, 120);
  --100: rgb(100, 100, 100);
  --80: rgb(80, 80, 80);
  --60: rgb(60, 60, 60);
  --40: rgb(40, 40, 40);
  --20: rgb(20, 20, 20);
  --8: rgb(8, 8, 8);

  /* MAIN */
  --main: rgb(45, 71, 125);
  --main-hover: rgb(45, 71, 125);
  /* SECOND */
  --second: rgb(16, 100, 32);
}
